<a href="v2/suggestions"><h1>Get Suggestions</h1></a>
<a href="suggestions/post"><h1>Post Suggestions</h1></a>
<a href="widgets"><h1>Widgets</h1></a>
<a href="random_ticket/rnd_tix"><h1>Tickets</h1></a>