<h1>UserVoice ticket tools</h1>

<h2>Random tickets:</h2>
<p>
	<% @random_ticket_url.each do |a| %>
<a href="<%= a %>" target="_blank"><%= a %></a><br>
	<% end %>
</p>


<a href="#">Get a new set!</a>

