<html>
<head><h1>Post an idea!</h1></head>

<body>

<form action="/suggestions/post" method="post">
	<label for="title">Suggestion title:</label>
   <input type="text" name="title"><br><br>
 <label for="body">Suggestion description:<label>
   <textarea id="body" name="body"></textarea><br>
   <input type="submit" value="Submit This Form">
 </form>

</body>

 </html>